@font-face {
  font-family: 'lianmengqiyilushuaizhengruiheiti';
  src: url('lianmengqiyilushuaizhengruiheiti.ttf') format('truetype')
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('YouSheBiaoTiHei.ttf') format('truetype')
}

@font-face {
  font-family: 'SourceHanSansSC-Regular';
  src: url('SourceHanSansSC-Regular.otf')
}